# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.directory
.idea/
.vscode/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
/build/

# Android-specific


# iOS-specific

# macOS-specific
macos/Flutter/ephemeral/
macos/Pods/

# Linux-specific
linux/flutter/ephemeral/

# Windows-specific
windows/flutter/ephemeral/

# Web-specific
web/

# Coverage
coverage/
