# Flutter/Dart related
**/doc/api/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.DS_Store

# Build artifacts
build/
.gradle/


# IDEs
.idea/
.vscode/
*.iml

.env
