<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55425028463-oss7g25jbehb7nf0bb1o0opr5l5u464l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55425028463-oss7g25jbehb7nf0bb1o0opr5l5u464l</string>
	<key>API_KEY</key>
	<string>AIzaSyB3G0kiHPUeaAS7SfjCXZK3IBE1erPSUUY</string>
	<key>GCM_SENDER_ID</key>
	<string>55425028463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goerlocal.driver</string>
	<key>PROJECT_ID</key>
	<string>goerlocaldelivery</string>
	<key>STORAGE_BUCKET</key>
	<string>goerlocaldelivery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55425028463:ios:ce610c8b773ce2c68ed89a</string>
	<key>DATABASE_URL</key>
	<string>https://goerlocaldelivery-default-rtdb.firebaseio.com</string>
</dict>
</plist>